:root {
  --primary-text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --header-border-color: #ececec;
  --secondary-border-color: #eeeeee;
  --icon-color: #afb1b8;
  --backdrop-color: rgba(0, 0, 0, 0.2);
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  background-color: var(--primary-white-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Лого */

.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-web:hover,
.logo-web:focus {
  color: var(--accent-color);
}

.logo-web {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Header without logo */

.page-header {
  border-bottom: 1px solid var(--header-border-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav__list {
  display: flex;
  margin-left: 93px;
}

.site-nav__item+.site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  display: block;
   color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link-underline::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 4px;

  left: 0;
  bottom: -33px;

  background: var(--accent-color);
  border-radius: 2px;
}

/* Contacts */

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-list__link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__item:not(:last-child) {
  margin-right: 30px;
}

.contacts-list__link:hover,
.contacts-list__link:focus {
  color: var(--accent-color);
}

.contacts-list__link:hover svg,
.contacts-list__link:focus svg {
  fill: var(--accent-color);
}

.contacts-list__icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hero */

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/Hero.jpg);
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 696px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button-primary {
  padding: 10px 32px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button-primary:hover,
.hero__button-primary:focus {
  color: var(--primary-white-color);
  background-color: #188ce8;
  outline: none;
}

/* Features */

.section-features {
  padding-top: 96px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section-features__list {
  display: flex;
}

.section-features__item::before {
  display: block;
  content: '';
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

.section-features__icon-antenna::before {
  background-image: url(../images/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.section-features__icon-clock::before {
  background-image: url(../images/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.section-features__icon-diagram::before {
  background-image: url(../images/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.section-features__icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.section-features__item:not(:last-child) {
  margin-right: 30px;
}

.section-features__title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section-features__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.71;
}

/* Section Photo */

.section-photo {
  padding-bottom: 94px;
}

.section-photo__title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-photo__list {
  display: flex;
  gap: 30px;
}

.section-photo__item {
  position: relative;
}

.section-photo__text {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 370px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;

  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Our team */

.section-team__list {
  display: flex;
}

.section-team__item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-team__item:not(:last-child) {
  margin-right: 30px;
}

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-bg-color);
  text-align: center;
}

.section-team__title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-team__text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-team__name {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.section-team__position {
  font-size: 16px;
  line-height: 1.19;
}

.social-networks__list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-networks__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__item:not(:last-child) {
  margin-right: 10px;
}

.social-networks__icon {
  fill: var(--icon-color);
  display: inline-block;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__link:hover,
.social-networks__link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.social-networks__link:hover .social-networks__icon,
.social-networks__link:focus .social-networks__icon {
  fill: var(--primary-white-color);
}

/* Section Clients */

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-clients__title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-clients__list {
  display: flex;
  justify-content: space-between;
}

.section-clients__item {
  justify-content: space-between;
}

.section-clients__links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients__icon {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients__links:hover,
.section-clients__links:focus {
  outline: none;
  border-color: var(--accent-color);
}

.section-clients__links:hover .section-clients__icon,
.section-clients__links:focus .section-clients__icon {
  fill: var(--accent-color);
}

/* Portfolio */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-btn__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn__filter {
  padding: 6px 22px;

  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn__filter:hover,
.portfolio-btn__filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  outline: none;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__text {
  border-right: 1px solid var(--secondary-border-color);
  border-bottom: 1px solid var(--secondary-border-color);
  border-left: 1px solid var(--secondary-border-color);
  padding: 20px 24px;
}

.portfolio__title {
  margin: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__type {
  margin: 0;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.portfolio__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__description {
  position: relative;
  overflow: hidden;
}

.portfolio__text-above {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover .portfolio__text-above {
  transform: translateY(0%);
}

/* Footer */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color);
  line-height: 1.71;
}

.page-footer__address {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
}

.page-footer__logo-studio {
  color: var(--primary-white-color);
}

.page-footer__google-maps {
  display: block;
  margin-bottom: 9px;
  color: var(--primary-white-color);
}

.page-footer__contacts {
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__mail {
  display: block;
  margin-bottom: 9px;
}

.page-footer__contacts:hover,
.page-footer__contacts:focus {
  color: var(--accent-color);
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer-social {
  margin-left: 70px;
}

.social-networks__footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.social-networks__footer-links {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;

  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__footer-icon {
  fill: var(--primary-white-color);
  width: 20px;
  height: 20px;
}

.social-networks__footer-links:hover,
.social-networks__footer-links:focus {
  outline: none;
  background-color: var(--accent-color);
}

.footer-subscribe {
  margin-left: 93px;
}

.subscribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer-input {
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--bg-color);
  outline: none;
  margin-right: 12px;
  padding: 15px 16px;
  cursor: pointer;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);

}

.footer-btns {
  display: flex;
}

.footer-btn {
  /* position: relative; */
  width: 200px;
  height: 50px;
  padding: 10px 28px;

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.icon-send {
  /* position: absolute; */
  margin-left: 10px;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--backdrop-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  display: inline-flex;
  border: none;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;

  cursor: pointer;
}

.close-icon {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--title-text-color);

}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: var(--accent-color);
}

.close-btn:hover,
.close-btn:focus {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  outline: none;
}

.modal-title {

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--title-text-color);

  margin-bottom: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 10px; */

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);

}

.form-field+.form-field {
  margin-top: 10px;
}

.form-field label {
  margin-bottom: 4px;
}

.form-field-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
  margin-bottom: 30px;
}

.form-check-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
}

.form-check-icon {
  width: 16px;
  height: 15px;
  display: block;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked+.form-check-text .form-check-icon {
  background-color: var(--accent-color);
  border: none;
}
.input-checkbox:hover + .form-check-text .form-check-icon, 
.input-checkbox:focus + .form-check-text .form-check-icon {
  border-color: var(--accent-color);
}

.form-input {
  margin: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover {
  border-color: var(--accent-color);
  cursor: pointer;
}

.form-input:hover+.input-icon {
  fill: var(--accent-color);
  cursor: pointer;
}

.form-input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
  outline: none;
}

.form-input:focus+.input-icon {
  fill: var(--accent-color);
  cursor: pointer;
  outline: none;
}

.form-comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
}

.form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);

}

.form-agreement {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
  cursor: pointer;
}

.btn-submit {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
  border: none;
  outline: none;

}

.btn-submit:hover,
.btn-submit:focus {
  color: var(--primary-white-color);
  background-color: #188ce8;
  outline: none;
}